
body{
    margin: 0;
}
.reset{
    position: absolute;
    top:100%;
    left:40%;
    background-color: black;
    #opacity: 0.5;
    color:white;
}
/*Modal Styling*/
.option{
    #width: 33%;
    #float: left;
    text-align: center;
    color:white;
}
.option>h4{
    font-size: 2em;
}
.modal-header {
    text-align: center;
}

.modal-body {
    height:70vh;
    background-color: black;
    opacity: 0.5S;
}

#new-game {
    float: right;
}

/*Main Board Layout*/
.screen {
    height: 100vh;
    width: 100vw;
    position: fixed;
}

.center {
    height: 100%;
    #width: 80vh;
    #position: relative;
    #margin: auto;
    text-align: center;
}

.title{
    height: 10vh;
    margin: 0;
    position: relative;
    top: 5vh;
}

/*Classes to add cursor effects*/
.x{
    cursor: url("images/x-small.png"), auto;
}

.o{
    cursor: url("images/o-small.png"), auto;
}
.square{
    box-sizing: border-box;
    float:left;
    border: 1px solid white;
    font-size: 24px;
    text-align: center;
    height: auto;
}
.X-square {
    background-image: url("images/X.png");
    background-size: contain;
}
.O-square {
    background-image: url("images/O.png");
    background-size: contain;
}
.square:hover {
    background-color: lightgrey;
    animation: rainbow;
    animation-duration: 2s;
    animation-iteration-count: infinite; /*background-color: lightgray;*/
}
.game_board{
    width: 80vh;
    height: 80vh;
    border: 1vh outset grey;
    margin: auto;
    margin-left: 8%;
    background-color: black;
}

.statsBar {
    #position: absolute;
    text-align: center;
    /*left: 80px;*/
    /*top: 40px;*/
}
.game_heading>h1{
    height: 20%;
    border: 2px solid black;
    color:red;
    text-align: center;
}

#current_player {
    clear: both;
}

.choose {
    width: 45px;
    margin: 7%;
}

.choose:hover {
    transform: scale(1.5);
}


@-webkit-keyframes rainbow { /*row hover have this animation effect*/
    0% {
        background-color: rgba(205, 0, 0, 0.5);
    }
    10% {
        background-color: rgba(205, 17, 120, 0.5);
    }
    20% {
        background-color: rgba(84, 0, 84, 0.5);
    }
    30% {
        background-color: rgba(0, 0, 205, 0.51);
    }
    40% {
        background-color: rgba(0, 155, 205, 0.51);
    }
    50% {
        background-color: rgba(20, 134, 128, 0.5);
    }
    60% {
        background-color: rgba(0, 86, 0, 0.51);
    }
    70% {
        background-color: rgba(142, 203, 33, 0.5);
    }
    80% {
        background-color: rgba(205, 205, 0, 0.51);
    }
    90% {
        background-color: rgba(204, 130, 0, 0.51);
    }
    100% {
        background-color: rgba(153, 40, 0, 0.51);
    }
}